{% extends 'sites/base.html' %}
{% load static %}
{% block content %}

<title>{{ title }}</title>
<!-- index-block1 -->
<section class="w3l-about1">
  <div class="new-block top-bottom">
    <div class="container">
      <div class="middle-section">
        <!-- <h5>Tagline</h5> -->
        <div class="section-width">
          <h2 style="font-size:3em; line-height:60px">{{ headline }} Services</h2>
        </div>
        <div class="link-list-menu">
          <p>We believe that we are outstanding. Not because we say it, but because we work hard at it. We are
            dedicated, committed and focused. We believe that every person will reach their personal best and overcome
            any challenge through a shared culture and ethos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- //index-block1 -->

{% endblock %}