{% extends 'sites/base.html' %}
{% load static %}
{% block content %}

<title>{{ title }}</title>
<!-- index-block1 -->
<section class="w3l-esg">
  <div class="new-block top-bottom">
    <div class="container">
      <div class="middle-section">
        <!-- <h5>Tagline</h5> -->
        <div class="section-width">
          <h2 style="font-size:3em; line-height:60px">{{ headline }}</h2>
        </div>
        <div class="link-list-menu">
          <p>FP is a specialised provider of ESG due diligence & advisory work. We support investors 
            and corporates in transactions with their ongoing needs and their ESG strategy. 
            Our approach is tailored, risk-based but also opportunity-driven. It creates a roadmap 
            for our clients to develop industry best-practice programmes, align with key ESG and 
            regulatory frameworks, and maximise value-creation opportunities for businesses and their stakeholders.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //index-block1 -->

<section class="w3l-about2">
  <div class="features-main py-5">
    <div class="container py-lg-3">
      <div class="row features">
        <div class="col-md-4 feature-1 mt-5">
          <div class="feature-body">
            <div class="feature-images">
              <span>IDD</span>
            </div>
            <div class="feature-info mt-4">
              <h3 class="feature-titel my-2">Tailored and actionable advice</h3>
              <p class="feature-text">Our ESG due diligence is always risk- and opportunity-based. That means a customised scope of work focused on the matters of greatest potential impact for a business and its stakeholders. We analyse these areas in terms of materiality and likelihood before assessing what has been done to mitigate threats and seize opportunities. Our clients receive pragmatic and actionable recommendations based on this assessment – for building ESG value and competence, as well as limiting risk and ensuring compliance. Priorities are made clear through heat mapping, suggested implementation timelines, and key metrics for impact. We take the time to understand our clients’ ESG frameworks, KPIs and visions, and tailor our reporting accordingly which can be critical in high-pressured and time-sensitive M&A processes. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 feature-2 mt-5">
          <div class="feature-body">
            <div class="feature-images">
              <span>EDD</span>
            </div>
            <div class="feature-info mt-4">
              <h3 class="feature-titel my-2">Strategically aligned to market trends, best practice and frameworks</h3>
              <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat dolor
                facere ipsum dolorem autem voluptate tempora ad.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat dolor
                facere ipsum dolorem autem voluptate tempora ad. 
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat dolor
                facere ipsum dolorem autem voluptate tempora ad. </p>

            </div>
          </div>
        </div>
        <div class="col-md-4 feature-3 mt-5">
          <div class="feature-body">
            <div class="feature-images">
              <span>TDD</span>
            </div>
            <div class="feature-info mt-4">
              <h3 class="feature-titel my-2">Collaborative approach with investigative rigor</h3>
              <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat dolor
                facere ipsum dolorem autem voluptate tempora ad.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat dolor
                facere ipsum dolorem autem voluptate tempora ad. 
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat dolor
                facere ipsum dolorem autem voluptate tempora ad. </p>
              <div class="hover">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}