<section class="w3l-about3 py-5">
    <div class="container py-lg-3">
      <h3 class="text-center mb-3 timeline-title">Clients come to us for</h3>
      <ul class="timeline">
        <!-- Item 1 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag">Our Analysis</span>
            </div>
            <div class="desc">In-depth analysis of high-risk counterparties</div>
          </div>
        </li>
  
        <!-- Item 2 -->
        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="flag">Early Approach</span>
            </div>
            <div class="desc">A holistic approach combining integrity and ESG due diligence of M&amp;A targets</div>
          </div>
        </li>
  
        <!-- Item 3 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag">Experts Approach</span>
            </div>
            <div class="desc">A customised approach to investigations by experienced, independent experts</div>
          </div>
        </li>
  
        <!-- Item 4 -->
        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="flag">The Migration</span>
            </div>
            <div class="desc">Practical steps to mitigate against risks from critical third parties</div>
          </div>
        </li>
  
  
        <!-- Item 5 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag">Improve Framework</span>
            </div>
            <div class="desc">Improving compliance frameworks to achieve best practice</div>
          </div>
        </li>
  
        <!-- Item 2 -->
        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="flag">Future plans</span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ducimus pariatur, molestiae
              autem suscipit totam error reprehenderit dolores nostrum reiciendis quas voluptas et repellat velit, qui
              eos
              ut minus consequuntur, quam facere? Culpa modi, facere laborum distinctio perspiciatis nesciunt sunt.
            </div>
          </div>
        </li>
  
      </ul>
    </div>
  </section>