{% load static %}
<section class="w3l-team-block" id="team">
	<div class="teams1 py-5">
		<div class="container py-lg-3">
			<div class="teams1-content">
        <div class="heading text-center mx-auto">
          <h3 class="head">Our Team </h3>
          <p class="my-3 head">We love conversations, and would love to have one with you! Whether you’re looking for a speaker, an awesome career, or want to get started with a rewards program, we would love hear from you.</p>
        </div>
				<div class="text-center">
					<div class="row align-team-items">
						{% for t in content %}
						<div class="item col-sm-6 col-md-3">
							<div class="team-info py-5">
								<div class="column">
									<a href="team/{{t.id}}"><img src="{{ t.pic.url }}" alt="" class="img-fluid"></a>
								</div>
								<div class="team-member">
									<h3 class="name-pos"><a href="team/{{t.id}}">{{ t.firstname }} {{ t.lastname }}</a></h3>
									<p>{{ t.position }}</p>
									<div class="social">
										<a href="#email" class="email"><span class="fa fa-envelope" aria-hidden="true"></span></a>
										<a href="{{ t.linkedin }}" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>