{% load static %}
<section class="w3l-index-block3">
    <div class="section-info py-5">
      <div class="container py-md-3">
        <div class="row cwp17-two align-items-center">
          <div class="col-md-6 cwp17-image">
            <img class="img-fluid" alt="" src="{% static '/images/business.png' %}">
          </div>
          <div class="col-md-6 cwp17-text">
            <h2>{{ headline }}</h2>
            <p> {{ text }} </p>
<!--            <a href="#signup.html" style="color: var(--primary-color);"><i class="fa fa-briefcase" aria-hidden="true" style="margin-right: 5px;"></i>Services » </a>
            <a href="#signup.html" style="color: #F58C88;"><i class="fa fa-book" aria-hidden="true" style="margin-right: 5px;"></i>Examples »</a>
            <a href="#signup.html"><i class="fa fa-handshake-o" aria-hidden="true" style="margin-right: 5px;"></i>Partners »</a>
-->          </div>
        </div>
      </div>
    </div>
  </section>