{% load static %}
<div class="w3l-bootstrap-header fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light p-2">
      <div class="container">
  <!--      <a class="navbar-brand" href="index.html"><span> <img src="assets/images/logo.jpg" style="width: 24px;" alt="main image"> </span>FRANK PARTNERS </a> -->
        <a class="navbar-brand" href="{% url 'website:index' %}"><span> <img src="{% static '/images/logo.png' %}" style="width: 230px; padding: 3%;" alt="main image"> </span> </a>
        <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
  <!--          <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url 'website:esg' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ESG
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'website:ma' %}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                  M&A due diligence & advisory</a>
                <a class="dropdown-item" href="{% url 'website:supply' %}"><span class="fa fa-graduation-cap" aria-hidden="true"></span>
                  Supply chain</a>
                <a class="dropdown-item" href="{% url 'website:hr' %}"><span class="fa fa-gavel" aria-hidden="true"></span>
                  Human rights</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url 'website:integrity' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Integrity
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'website:reputation' %}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                  Reputational & compliance due diligence</a>
                <a class="dropdown-item" href="{% url 'website:sanctions' %}"><span class="fa fa-graduation-cap" aria-hidden="true"></span>
                  Sanctions </a>
                <a class="dropdown-item" href="{% url 'website:intelligence' %}"><span class="fa fa-gavel" aria-hidden="true"></span>
                  Business intelligence</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Investigations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'website:investigations' %}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>Litigation support</a>
                <a class="dropdown-item" href=""><span class="fa fa-graduation-cap" aria-hidden="true"></span>Asset searches </a>
                <a class="dropdown-item" href=""><span class="fa fa-gavel" aria-hidden="true"></span>Corporate investigations</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'website:about' %}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>Our company</a>
                <a class="dropdown-item" href="{% url 'website:about' %}"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Our story</a>
                <a class="dropdown-item" href="{% url 'website:about' %}"><span class="fa fa-gavel" aria-hidden="true"></span>Our team</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our values
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'website:values' %}"><span class="fa fa-globe" aria-hidden="true"></span>Ethics as a guiding principle </a>
                <a class="dropdown-item" href="{% url 'website:values' %}"><span class="fa fa-globe" aria-hidden="true"></span>Distributed work model</a>
                <a class="dropdown-item" href="{% url 'website:values' %}"><span class="fa fa-globe" aria-hidden="true"></span>Inclusiveness </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://frankpartners.eu/news/careers/">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newsfeed/">News</a>
            </li>
          </ul>
          <div class="form-inline">
              <a href="/contact" class="btn btn-primary btn-theme">Contact us</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  